@font-face {
  font-family: "myfont";
  src: url('../fonts/myfont.eot');
  src: url('../fonts/myfont.eot?#iefix') format('eot'),
    url('../fonts/myfont.woff') format('woff'),
    url('../fonts/myfont.ttf') format('truetype'),
    url('../fonts/myfont.svg#myfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon:before {
  display: inline-block;
  font-family: "myfont";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lg {
  font-size: 1.3333333333333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.icon-2x { font-size: 2em; }
.icon-3x { font-size: 3em; }
.icon-4x { font-size: 4em; }
.icon-5x { font-size: 5em; }
.icon-fw {
  width: 1.2857142857142858em;
  text-align: center;
}

.icon-a:before { content: "\E001" }
.icon-a2:before { content: "\E002" }
.icon-address:before { content: "\E003" }
.icon-at-big:before { content: "\E004" }
.icon-at:before { content: "\E005" }
.icon-edit:before { content: "\E006" }
.icon-plus:before { content: "\E007" }