<label class="label">
	<span class="label__text">
		I'm input
	</span>
	<!-- Input -->
	<input type="text" class="input" placeholder="Type here something">
</label>
<label class="label">
	<span class="label__text">
		I'm input with icon
	</span>
	<!-- Input with icon -->
	<label class="input-icon">
		<i class="fa fa-map-marker"></i>
		<input type="text" class="input" placeholder="Loation">
	</label>
</label>
