<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	{{>content}}
	{{>footer}}
	<script src="js/plugins.min.js"></script>
	<script src="js/app.js"></script>
</body>
</html>
